#analysisContainer{position: relative;}
#analysisContainer .leftSlide{min-width: 200px;max-width: 300px;width: 200px;background: white;font-size: 12px;float: left;border-top:1px solid #f1f2f4;position: relative;}
#foldSideBtn{position: absolute;left: 193px;top: 400px;cursor: pointer; width: 14px;height: 38px;z-index: 300;}
#analysisContainer .leftSlide #connectDirector{padding-top: 16px;}
#connectDirector .conn{color: #808080;position: relative;padding-left: 10px;}
#connectDirector .conn .btn{position: absolute;right: 10px;width: 40px;top: 0;text-align: right;cursor: pointer;}
#connectDirector .paltFormList{padding-left: 10px;}
#connectDirector .paltFormList li{padding-top: 20px;}
#connectDirector .paltFormList li span{display: inline-block;margin-left: 10px;}
#connectDirector .line{height: 1px;background: #dedede;margin-top: 20px;}
#dataSet .dataSetTitle{padding-left: 10px;color: #808080;padding-right: 10px;height: 36px;padding-top: 4px;line-height: 36px;}
#dataSet .dataSetTitle div{float: right;height: 100%;cursor: pointer;}
#dataSet .dataSetTitle div:nth-child(2){margin-left: 10px;}
#dataSet .detailDataSetList  li .dataSetItemTitle{padding-left: 10px;height: 21px;line-height: 21px;cursor: pointer;color: #005eca;}
#dataSet .detailDataSetList  li .dataSetItemTitle img{padding-bottom: 3px;}
#dataSet .detailDataSetList  li .dataSetItemTitle span{display: inline-block;margin-left: 10px;}
#dataSet .detailDataSetList .dataSetDetail{padding-left: 30px;padding-right: 10px;}
#dataSet .detailDataSetList .dataSetDetail .dbDataShow select{/*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/border: solid 1px #dedede;/*很关键：将默认的select选择框样式清除*/appearance:none;-moz-appearance:none;-webkit-appearance:none; /*在选择框的最右侧中间显示小箭头图片*/ background: url("../../images/more.png") no-repeat scroll right center transparent; /*为下拉小箭头留出一点位置，避免被文字覆盖*/padding-right: 14px;border-radius: 2px;display: inline-block;height: 22px;width: 100%;margin-top: 10px;cursor: pointer;}
.detailDataSetList li  .dbDataShow .tablesOfaData{/*padding-left: 30px;*/overflow-y: auto;max-height: 135px; border-bottom: 1px solid #dedede;}
.detailDataSetList li .dbDataShow .tablesOfaData p,.detailDataSetList li .panelDataShow .panelFileSheetData p{padding-top: 10px;padding-right: 10px;height:15px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;cursor: pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.detailDataSetList li .panelDataShow .panelTitle{color: #808080;padding-top: 15px;}
#analysisContainer .mainDragArea{background: f1f2f4;position: relative;}
#analysisContainer .mainDragArea .boxDiv{border: 1px solid #dedede;font-size: 12px;display: inline-block;background: white;position: absolute;/*top: 20px;left: 30px;*/cursor: pointer;min-width: 150px;max-width: 150px;}
#analysisContainer .mainDragArea .boxDiv .tableTitle{background: #f5f5f5;padding-left: 10px;height: 25px;line-height: 25px;/*overflow:hidden;text-overflow:ellipsis;white-space:nowrap;*/}
#analysisContainer .mainDragArea .boxDiv .tableTitle img{float: left;margin-top: 8px;}
#analysisContainer .mainDragArea .boxDiv .tableTitle p{float: left;padding-left: 5px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;height: 100%;max-width: 110px;}
#analysisContainer .mainDragArea .boxDiv .fields {overflow-y: scroll;max-height: 300px;overflow-x: hidden;}
#analysisContainer .mainDragArea .boxDiv .fields li{padding-top: 12px;background: white;padding-left: 10px;height: 25px;line-height: 25px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width: 100%;}
#analysisContainer .mainDragArea .boxDiv .fields li span{padding-left: 5px;display: inline-block;}
/* 左侧导航栏调整大小光标样式*/
#analysisContainer .leftSlide .ui-resizable-e{cursor: ew-resize;}


#newSetPrompt{width: 350px;height: 260px;background: white;position: absolute;display: none;z-index: 410;border-radius: 10px;}
#newSetPrompt #closeNewSetPrompt{position: absolute;right: 0;top: 0;cursor: pointer;}
#newSetPrompt .setFlagContainer{width: 100%;text-align: center;font-size: 14px;font: bold;position: absolute;top: 30px;}
#newSetPrompt .setFlagContainer p{margin-top: 20px;}
#newSetPrompt .bottomInfo{position: absolute;width: 100%;text-align: center;font-size: 12px;bottom: 100px;}
#newSetPrompt .btnDivHelp{width: 100%;position: absolute;text-align: center;bottom: 30px;}
#newSetPrompt  #setNameInput{border-bottom: 1px solid #dedede;height: 20px;width: 180px;text-indent: 10px;}
#newSetPrompt  #newSetConfirmBtn{font-size: 12px;color: white;display: inline-block;width: 160px;height: 30px;background: #0d53a4;line-height: 30px;border-radius: 2px;cursor: pointer;-webkit-user-select: none;}


#connectDirector #addSourceSelects{position: absolute;width: 88px;height: 50px;border: 1px solid #dedede;text-align: center;right: -60px;top:20px;background: white;display: none;z-index: 100;}
#connectDirector #addSourceSelects img{position: absolute;left: 10px;top: -6px;}
#connectDirector #addSourceSelects p{width: 80px;height: 24px;line-height: 25px;border-bottom: 1px solid #dedede;display: inline-block;cursor: pointer;font-size: 10px;margin-left: 3px;}
#connectDirector #addSourceSelects .last{border: 0px;height: 25px;}
#connectDirector #addSourceSelects input{position: absolute;height: 25px;width: 80px;bottom: 0;right: 5px;opacity: 10;cursor: pointer;z-index: 101;font-size: 0;opacity: 0;}
/*添加数据平台按钮，点击之后的框*/
#dataList{width: 200px;background: #f1f2f4;position: absolute;top: 0;right: 0px;font-size: 14px;color: 202020;z-index: 420;height: 100%;}
#dataList .top{height: 60px;background: #e7e7e7;position:relative;width: 100%;top: 0;left: 0;}
#closeDataList{height: 100%;width:30px;position: absolute;right: 20px;cursor: pointer;}
#dataList .top img{position: absolute;right: 0;top: 24px;}
#dataList .commonDataDiv{padding-top: 20px;}
#dataList .commonDataDiv .commonDataTitle{margin-left: 20px;color: #808080;}
#dataList .baseDetail{margin-left: 35px;margin-top: 20px;}
#dataList .baseDetail li {padding-top: 10px; cursor: pointer;}
#dataList .line{height: 1px;width: 100%;background: #dedede;margin-top: 20px;}
#dataList .moreData{margin-top: 20px;width: 100%;}
#dataList #moreDataBtn{margin-left: 20px;color:#808080;cursor: pointer;}
/*table详情,光标移入的时候*/
.mainDragArea #dragTableDetailInfo{border: 1px solid #dedede;background: white;position: absolute;top: 30px;height: 33px;}
.mainDragArea #dragTableDetailInfo .imgBox{float: left;position: relative;width: 23px;height: 23px;border-radius: 2px;margin-left: 10px;cursor: pointer;margin-top: 5px;background: #f5f5f5;}
.mainDragArea #dragTableDetailInfo .imgBox:nth-child(1){margin-left: 5px;}
.mainDragArea #dragTableDetailInfo .lastImgBox{margin-right: 5px;}
.mainDragArea #dragTableDetailInfo .line{float: left;width: 1px;background: #dedede;height: 13px;margin-left: 10px;margin-top: 10px;}
.mainDragArea #dragTableDetailInfo .active{background: #dedede;}
.mainDragArea #dragTableDetailInfo .imgBox img{position: absolute;margin: auto auto;left: 0;top: 0;right: 0;bottom: 0;}
.ui-tooltip{font-size: 12px;color: #808080;background: white;opacity: 1;;border-radius: 6px;box-shadow: none;border: 0px;background: #dedede;}

#tableDataDetailListPanel{position: absolute;border: 1px solid #dedede;font-size: 12px;background: white;text-align: center;right: 0;bottom: 0;border-left: 0px;z-index: 600;}
#tableDataDetailListPanel #closeableDataDetailListPanel{position: absolute;top: 0;z-index: 600;cursor: pointer;}
#tableDataDetailListPanel .topInfo{height: 60px;border-left: 1px solid #dedede;}
#tableDataDetailListPanel .topInfo div{height: 60px;float: right;margin-right: 20px;line-height: 60px;cursor: pointer;}
#tableDataDetailListPanel .topInfo div img{vertical-align: text-top;}
#tableDataDetailListPanel .topInfo div span{margin-left: 5px;margin-top: 2px;}
#tableDataDetailListPanel .mainContent{overflow: auto;max-height: 440px;}
#tableDataDetailListPanel .mainContent table{border: 1px solid #dedede; border-collapse: collapse;}
#tableDataDetailListPanel .mainContent table thead th{border: 1px solid #dedede;min-width: 148px;height: 48px;font-size: 14px;cursor: pointer;}
#tableDataDetailListPanel .mainContent table thead th span{margin-left: 5px;}
#tableDataDetailListPanel .mainContent table thead th img{cursor: pointer;}
#tableDataDetailListPanel .mainContent table tbody td{border: 1px solid #dedede;min-width: 148px;height: 28px;}
#tableDataDetailListPanel .mainContent table tbody tr:nth-of-type(odd){background: white;}
#tableDataDetailListPanel .mainContent table tbody tr:nth-of-type(even){background: #f5f5f5;}

/* 构建数据集弹框*/
#buildDataPanelView{width: 400px;border-radius: 5px;position: absolute;background: white;font-size: 12px;height: 300px;z-index: 410;}
#buildDataPanelView .build-body{padding-top: 10px;border-top: 1px solid #DEDEDE;}
#buildDataPanelView .build-body .cube-name-radio .radio:nth-of-type(1){margin-left: 20px;}
#buildDataPanelView .build-body .cube-name-radio .radio:nth-of-type(2){margin-left: 40px;}

#buildDataPanelView .build-body .cube-name-input-div{padding-left: 32px;height: 23px;line-height: 23px;padding-top: 20px;}
#buildDataPanelView .build-body .cube-name-input-div input{height: 21px;border:1px solid #dedede;text-indent: 5px;width: 250px;border-radius: 2px;}

#buildDataPanelView .build-body .build-options{padding-top: 10px;}
#buildDataPanelView .build-body .build-options .title{background: #e7e7e7;height: 25px;line-height: 25px;padding-left: 20px;}
#buildDataPanelView .build-body .build-options .save-type .global-save{margin-left: 20px;}
#buildDataPanelView .build-body .build-options .more-content-div{padding-left: 20px;padding-top: 20px;}
#buildDataPanelView .build-body .build-options .more-content-div p{color: #a5a5a5;}
#buildDataPanelView .build-body .build-options .more-content-div .text-label input{border:1px solid #dedede;border-radius: 2px;height: 23px;width: 150px;margin-left: 10px;text-indent: 5px;}
#buildDataPanelView .build-body .build-options .more-content-div .check-label input{margin-right: 10px;}
#buildDataPanelView .build-footer{height: 50px;background: #f5f5f5;position: absolute;bottom: 0;width: 100%;}
#buildDataPanelView .build-footer a{width: 70px;height: 30px;position: absolute;border-radius: 2px;line-height:30px;text-align: center;}
#buildDataPanelView .build-footer .moreSetting{left: 20px;top: 10px;border:1px solid #0d53a4; color: #0d53a4;}
#buildDataPanelView .build-footer .confirmBtn{background: #0D53A4;color: white;right: 20px;top: 10px;}
#buildDataPanelView .build-footer .cancleBtn{top: 10px;right: 110px;border:1px solid #0d53a4; color: #0d53a4;}