@import url("reset.css");

html,body{height:100%;min-width: 1000px;color: #202020;}
.container{height: 100%;background: white;min-width: 1000px;}
.topInfo{height:70px;background-color: #ffffff;position: relative;}
#logo{margin-left: 15px;margin-top: 22px;}
.topInfo #loginInfo{position: absolute;right: 20px;top: 0;font-size: 0;height: 100%;}
.topInfo #loginInfo .child{float: left;margin-top: 29px;margin-right: 20px;}
.topInfo #loginInfo .message,.question{margin-top: 25px}
.topInfo #loginInfo .question{margin-top: 25px}
.topInfo #loginInfo .changeUser{color: #0d53a4;font-size: 12px;margin-top: 26px; cursor: pointer;}
.topInfo #loginInfo .userName{font-size: 16px;float: left;margin-top: 25px;height:16px;}
.topInfo #loginInfo .userHead{width:30px;height: 30px;border-radius: 50%;background: #f8eaa8;float: left;margin-right:10px; margin-top: 20px;}
.topInfo #loginInfo .sepreate{width: 1px;height: 10px;margin-top: 30px;background: #b0b0b0;}
.main .leftNav{float: left;width: 60px;background: linear-gradient(#0d53a4,#00bdc9);min-height: 100%;height: 100%;}
.leftNav .ableFlag{width: 100%;height: 60px; position: relative;margin-top: 20px;cursor: pointer}

.leftNav #first {margin-top: 0;}
.ableFlag div{position: absolute;left: 0;top: 0;right: 0;bottom: 0;margin: auto;width: 100%;height: 100%;}
.ableFlag img{position: absolute;left: 0;top: 0;right: 0;bottom: 0;margin: auto;}
.ableFlag .active{background: #000000;opacity: 0.2;}

.main .rightConent{margin-left: 60px;background: #f1f2f4;min-height:100%;position: relative;}
.maskLayer{position: absolute;top: 0px;left:0px;width: 100%;height: 100%;background: #000000;opacity: 0.3;z-index: 400;}

#connectDataBaseInfo{width: 400px;height:350px;position: absolute;margin: auto;left: 0;top: 0;right: 0;bottom: 0;font-size: 12px;z-index: 430;background: #ffffff;border-radius: 10px;}
#connectDataBaseInfo #dataBaseName{height: 40px;line-height: 40px;border-bottom: 1px solid #dedede;text-indent: 20px;}
#connectDataBaseInfo .locationDiv{/*padding: 20px,20px,0px,20px;*/padding-top: 20px;padding-left: 20px;padding-right: 20px;}
#connectDataBaseInfo .locationDiv .server{float: left;}
#connectDataBaseInfo .locationDiv .server input{width: 200px;height: 21px;border:1px solid #dedede;border-radius: 2px;}
#connectDataBaseInfo .locationDiv .port{float: right;text-align:right;}
#connectDataBaseInfo .locationDiv .port input{width: 40px;border:1px solid #dedede;height: 21px;border-radius: 2px;}

#connectDataBaseInfo .userDiv{padding-top: 20px;padding-left: 20px;padding-right: 20px;}
#connectDataBaseInfo .userDiv .userName{width: 100%;display: inline-block;padding-top: 10px;height: 23px;}
#connectDataBaseInfo .userDiv .userName input{height: 100%;border:1px solid #dedede;height: 21px;border-radius: 2px;width: 309px;}
#connectDataBaseInfo .userDiv .userPwd{width: 100%;display: inline-block;padding-top: 10px;height: 23px;}
#connectDataBaseInfo .userDiv .userPwd input{height: 100%;border:1px solid #dedede;height: 21px;border-radius: 2px;width: 309px;margin-left: 12px;}

#connectDataBaseInfo .otherSetting{padding-top: 20px;padding-left: 20px;padding-right: 20px;}
#connectDataBaseInfo .otherSetting label{display: block;cursor: pointer;}
#connectDataBaseInfo .otherSetting a{display: block;padding-top: 10px;cursor: pointer;}
#connectDataBaseInfo .otherSetting a input{position: absolute;left: 0;}
#connectDataBaseInfo  #loginBtn{margin-left: 20px;background: #0d53a4;display: inline-block;height: 30px;color: white;font-size: 14px;border: 1px solid #0d53a20px4;border-radius: 2px;cursor: pointer;line-height: 30px;width: 360px;margin-top: 20px;text-align: center;}

/*筛选器*/
/*-------------------------公共部分-----------------------------*/
/* 底部按钮*/
#filter-model .common-filer-footer{height: 50px;background: #f5f5f5;position: absolute;bottom: 0;width: 100%;}
#filter-model .common-filer-footer a{width: 70px;height: 30px;position: absolute;border-radius: 2px;line-height:30px;text-align: center;}
#filter-model .common-filer-footer .resetBtn{left: 20px;top: 10px;border:1px solid #0d53a4; color: #0d53a4;}
#filter-model .common-filer-footer .confirmBtn{background: #0D53A4;color: white;right: 20px;top: 10px;}
#filter-model .common-filer-footer .cancleBtn{top: 10px;right: 110px;border:1px solid #0d53a4; color: #0d53a4;}

/*头部*/
.topline{background:linear-gradient(to right,#0d53a4,#00bdc9);height: 5px;border-top-left-radius: 5px;border-top-right-radius: 5px;}
.common-head{height: 45px;line-height: 45px;position: relative;}
.common-head span{margin-left: 20px;}
.common-head .logo{color: #808080;}
.common-head .close{position: absolute;right: 10px;height: 100%;width: 45px;top: 0;text-align: right;cursor: pointer;}

/*折叠框*/
#filter-model .ui-tabs{border:0px;border-radius: 0;background: white;padding: 0;}
#filter-model .ui-tabs-nav{background: #F5F5F5;width: 100%;padding: 0;border: 0px;border-radius: 0;}
#filter-model .ui-tabs-nav .ui-tabs-tab{border-radius: 0;border: 0;margin: 0;border-top: 1px solid #dedede;width: 100px;background: #f5f5f5;}
#filter-model .ui-tabs-nav .ui-tabs-anchor{border-radius: 0;color: #808080;width: 100%;padding: 0;text-align: center;height: 30px;line-height: 30px;outline: none;cursor: pointer;}
#filter-model .ui-tabs-nav .ui-tabs-active{background: white;border-bottom: 0px;border-top:2px solid #0d53a4;}
#filter-model .ui-tabs .ui-tabs-panel{padding: 0;}
/*滑块*/
.ui-slider{height: 4px;background: #dedede;border: 0;border-radius: 0;}
.ui-slider .ui-slider-handle{height: 8px;background: #ff7e00;width: 2px;border: 0;margin: 0;border-radius: 0;top: -2px;}
.ui-slider .ui-slider-range{background: #ff7e00;border: 0;border-radius: 0;}


/*单选按钮*/
.radio{display: inline-block;cursor: pointer;background: url(../../../static/images/contentFilter/selecte-not.png) no-repeat 0px -12px; padding-left: 12px;height: 12px;line-height: 12px;border-top: 5px solid white;border-bottom: 5px solid white;}
.radio.active{background-position: 0 0;}


/*-------------------------公共部分-----------------------------*/

#contentChooser{font-size: 12px;width: 400px;height:580px;border-radius: 5px;position: absolute;top: 100px;left: 100px;background: white;}
#contentChooser #common{padding-top: 10px;font-size: 10px;}
#contentChooser #common .commonSearchDiv{width: 360px;margin-left: 20px;}
#contentChooser #common .commonSearchDiv .outer{border-radius: 21px;height: 21px;border: 1px solid #dedede;position: relative;}
#contentChooser #common .commonSearchDiv .outer img{position: absolute;right: 5px;top: 5px;cursor: pointer;}
#contentChooser #common .commonSearchDiv .outer input{height: 100%;width: 340px;margin-left: 5px;}
#contentChooser #common .detailSearchData{width: 340px;margin-left: 30px;}
#contentChooser #common .handleBtns{padding: 10px 0px 20px 0;height: 18px;}
#contentChooser #common .handleBtns .all{float: left;}
#contentChooser #common .handleBtns .not{float: right;}

/* 摘要*/
#contentChooser #common .summaryPanel{width: 348px;margin-left: 20px;border: 1px solid #dedede;background: #f5f5f5;padding-left: 10px;font-size: 10px;}
#contentChooser #common .summaryPanel  p{border-bottom: 1px solid #dedede;color: #808080;}
#contentChooser #common .summaryPanel ul li a{color: #0d53a4;}

/*通配符*/
#contentChooser #wildcards{padding: 10px 20px 0 20px;font-size: 10px;}
#contentChooser #wildcards .wildcardLogo{padding-bottom: 10px;}
#contentChooser #wildcards .matchContentInput{height: 21px;border: 1px solid #dedede;}
#contentChooser #wildcards .matchContentInput input{height: 100%;width: 100%;text-indent: 2px;}
#contentChooser #wildcards .radioSelectBtns{padding-top: 10px;}
#contentChooser #wildcards .handleBtns{height: 20px;padding-top: 10px;}
#contentChooser #wildcards .handleBtns .emptyCotainAll{float: left;}
#contentChooser #wildcards .handleBtns .delete{float: right;}

/*条件*/
#contentChooser #condition{padding: 10px 0px 0 20px;font-size: 10px;}
#contentChooser #condition .byFiledConditionSelectDiv .scrollBody-box{overflow-y: auto;max-height: 240px;padding-right: 20px;}
#contentChooser #condition .byFiledConditionSelectDiv .topTitle{padding-right: 20px;}
#contentChooser #condition .byFiledConditionSelectDiv .topTitle .add{float: right;cursor: pointer;}
#contentChooser #condition .byFiledConditionSelectDiv .byFiledCondition-body{padding-left: 12px;}
#filter-model .combo-select{height: 21px;}
#filter-model .combo-input{padding: 0;height: 100%;user-select: none;cursor: pointer;text-align: left;text-indent: 5px;}
#contentChooser #condition .byFiledCondition-body .select-box .boxTwo{height: 21px;padding-top: 10px;}
#contentChooser #condition .byFiledCondition-body .select-box .boxTwo .toRowLine{float: left;height: 100%;width: 109px;margin-left: 10px;}
#contentChooser #condition .byFiledCondition-body .select-box .boxTwo .toRowLine:nth-of-type(1){margin-left: 0;}
#contentChooser #condition .byFiledCondition-body .select-box .boxTwo .toRowLine:nth-of-type(3) .numberInput{border: 1px solid #dedede;width: 100%;height: 100%;border-radius: 2px;text-indent: 5px;}

#contentChooser #condition .byFiledCondition-body .range-box{background: #f5f5f5;border: 1px solid #dedede;margin-top: 10px;border-radius: 2px;padding-bottom: 10px;}
#contentChooser #condition .byFiledCondition-body .range-box .range-title{border-bottom: 1px solid #dedede;text-indent: 10px;color: #808080;font-size: 10px;height: 21px;line-height: 21px;}
#contentChooser #condition .byFiledCondition-body .range-box .range-content label{display: inline-block;height: 21px;padding: 10px 0 0 10px}
#contentChooser #condition .byFiledCondition-body .range-box .range-content label input{height: 21px;border: 1px solid #dedede;margin-left: 10px;border-radius: 2px;width: 250px;}
#contentChooser #condition .byFiledCondition-footer{padding-top: 10px;}
#contentChooser #condition .byFiledCondition-footer textarea{display: block;margin-left: 12px;width: 348px;height: 100px;resize: none;border: 1px solid #dedede;border-radius: 2px;background: #F5F5F5;}

/*顶部*/
#contentChooser #headpiece{padding: 10px 0 0 20px;font-size: 12px;}
#contentChooser #headpiece .headpiece-body .headpiece-body-filed-title{padding-right: 20px;}
#contentChooser #headpiece .headpiece-body .headpiece-body-filed-title .add{float: right;cursor: pointer;}
#contentChooser #headpiece .headpiece-body .headpiece-scroll-box{overflow-y: auto;max-height: 208px;}
#contentChooser #headpiece .headpiece-body .headpiece-scroll-box .boxOne{padding-left: 12px;height: 23px;/*padding-top: 10px;*/}
#contentChooser #headpiece .headpiece-body .headpiece-scroll-box .boxOne .boxOne-float{float: left;}
#contentChooser #headpiece .headpiece-body .headpiece-scroll-box .boxOne .needSize{width: 160px;height: 21px;}
#contentChooser #headpiece .headpiece-body .headpiece-scroll-box .boxOne .valueInput{border: 1px solid #dedede;border-radius: 2px;margin-left: 10px;}#contentChooser #headpiece .headpiece-body .headpiece-scroll-box .boxOne .indictorText{height: 23px;line-height: 23px;}

#contentChooser #headpiece .headpiece-body .headpiece-scroll-box .boxTwo{padding-top: 10px;height: 23px;padding-left: 12px;}
#contentChooser #headpiece .headpiece-body .headpiece-scroll-box .boxTwo .boxTwo-float{float: left;}
#contentChooser #headpiece .headpiece-body .headpiece-scroll-box .boxTwo .boxTwo-float:nth-of-type(1){width: 160px;}
#contentChooser #headpiece .headpiece-body .headpiece-scroll-box .boxTwo .boxTwo-float:nth-of-type(2){margin-left: 10px;width: 178px;}

#contentChooser #headpiece .headpiece-footer{padding-top: 10px;}

#contentChooser #headpiece .headpiece-footer .footer-select-div{padding-left: 12px;height: 23px;/*padding-top: 10px;*/}
#contentChooser #headpiece .headpiece-footer .footer-select-div .footer-select-div-float{float: left;}
#contentChooser #headpiece .headpiece-footer .footer-select-div .needSize{width: 160px;height: 21px;}
#contentChooser #headpiece .headpiece-footer .footer-select-div .valueInput{border: 1px solid #dedede;border-radius: 2px;margin-left: 10px;}
#contentChooser #headpiece .headpiece-footer .footer-select-div .indictorText{height: 23px;line-height: 23px;}
#contentChooser #headpiece .headpiece-footer .formulasInput{display: block;margin-left: 12px;width: 348px;height: 100px;resize: none;border: 1px solid #dedede;border-radius: 2px;background: #F5F5F5;margin-top: 10px;}


/*------------数值选择器-----------------*/
#number-filter{width: 400px;height:350px;border-radius: 5px;position: absolute;top: 100px;left: 100px;background: white;font-size: 12px;}
#filter-model #number-filterr .contentChooser_head{border-bottom: 1px solid #dedede}
/*数值选择器*/
#number-filter .number-filter-body .fixedSelect-model{height: 43px;}
#number-filter .number-filter-body .fixedSelect-model .fixedSelect-box{padding: 10px 20px 10px 20px;}
/* 主体部分公共部分*/
#number-filter .fold-module  .slider-common-setting{padding: 40px 20px 0 20px;}
#number-filter .fold-module  .slider-common-setting .value-input-box input{width: 140px;height: 21px; border:1px solid #dedede;border-radius: 2px;text-indent: 5px;}
#number-filter .fold-module  .slider-common-setting .value-input-box .max-value-input{margin-left: 75px;}
#number-filter .fold-module .slider-common-setting .value-slider-box{padding-top: 40px;}
#number-filter .fold-module  .slider-common-setting .value-slider-box .range-flag{width: 100%;height: 23px;text-align: center;padding-top: 7px;}
#number-filter .fold-module  .slider-common-setting .value-slider-box .range-flag span{width: 30px;max-width: 100px;height: 23px;background: #dedede;border-radius: 2px;text-align: center;line-height: 23px;font-size: 10px;}
#number-filter .fold-module  .slider-common-setting .value-slider-box .range-flag .min-value-flag{float: left;}
#number-filter .fold-module  .slider-common-setting .value-slider-box .range-flag .current-value-flag{display: inline-block;}
#number-filter .fold-module .slider-common-setting .value-slider-box .range-flag .max-value-flag{float: right;}


/*至多部分设置*/
#number-filter .fold-module  #at-most-box .value-input-box .min-value-input{background: #dedede;color: #808080;}
/*至少部分设置*/
#number-filter .fold-module  #at-least-box .value-input-box .max-value-input{background: #dedede;color: #808080;}
/*特殊值部分设置*/
#number-filter .fold-module #special-value-box{padding-left: 20px;padding-top: 10px;}


/* 日期选择器*/
#date-filter{width: 400px;height:350px;border-radius: 5px;position: absolute;top: 100px;left: 100px;background: white;font-size: 12px;}
#date-filter .date-filter-body #relative-date-box{padding: 30px 20px 0 20px;}
#date-filter .date-filter-body #relative-date-box .date-unit-btns{height: 23px;}
#date-filter .date-filter-body #relative-date-box .date-unit-btns a{width: 58px;height: 21px;float: left;margin-left: 15px;border-radius: 2px;border: 1px solid #dedede;text-align: center;line-height: 23px;}
#date-filter .date-filter-body #relative-date-box .date-unit-btns .year{margin-left: 0;}
#date-filter .date-filter-body #relative-date-box .date-unit-btns .active{background: #0d53a4;color: white}
#date-filter .date-filter-body #relative-date-box .date-detail-range-radios{padding-top: 20px;}
#date-filter .date-filter-body #relative-date-box .date-detail-range-radios .radio-group{padding-bottom: 20px;}
#date-filter .date-filter-body #relative-date-box .date-detail-range-radios .radio{width: 100px;}
#date-filter .date-filter-body #relative-date-box .date-detail-range-radios .number-select-radio{position: relative;}
#date-filter .date-filter-body #relative-date-box .date-detail-range-radios .number-select-radio select {float: left;margin-top: -3px;}
#date-filter .date-filter-body #relative-date-box .date-detail-range-radios .number-select-radio span{float: left;}

/*公共设置部分*/
#date-filter .date-filter-body .common-date-settering {padding: 40px 20px 0 20px;}
#date-filter .date-filter-body .common-date-settering .date-input-select-box{height: 23px;}
#date-filter .date-filter-body .common-date-settering .date-input-select-box .input-box{width: 138px;height: 21px;border: 1px solid #dedede;float: left;}
#date-filter .date-filter-body .common-date-settering .date-input-select-box .input-box input{height: 100%;width: 120px;text-indent: 5px;}
#date-filter .date-filter-body .common-date-settering .date-input-select-box .input-box img{float: right;margin-top: 4px;margin-right: 5px;cursor: pointer;}
#date-filter .date-filter-body .common-date-settering .date-input-select-box .max-date-input-box{margin-left: 80px;}
.ui-datepicker{font-size: 12px;}
#date-filter  .common-date-settering .date-slider-box{padding-top: 40px;}
#date-filter  .common-date-settering .date-slider-box  .range-flag{width: 100%;height: 23px;text-align: center;padding-top: 7px;}
#date-filter  .common-date-settering .date-slider-box  .range-flag span{min-width: 30px;max-width: 100px;height: 23px;background: #dedede;border-radius: 2px;text-align: center;line-height: 23px;font-size: 10px;}
#date-filter  .common-date-settering .date-slider-box  .range-flag .min-date-flag{float: left;}
#date-filter  .common-date-settering .date-slider-box  .range-flag .max-date-flag{float: right;}


/*开始部分设置*/
#date-filter .date-filter-body #date-start-box .date-input-select-box .max-date-input-box{background: #dedede;color: #808080;}
/*结束部分*/
#date-filter .date-filter-body #date-finish-box .date-input-select-box .min-date-input-box{background: #dedede;color: #808080;}


