{% load static %}
<link rel="stylesheet" href={% static "dashboard/css/dashboard_table.css"%} />
<div id="text_table_need_show" style="display:none">
	<div class="right_module" style="display: inline-block;">
			<!--存放拖入列区域的内容-->
		<div class="top_column_container" style="display: inline-block">
			<p class="top_column_name">	
			</p>	
			<ul class="column_data_list">
				
			</ul>
		</div>
		
		<div class="content_body">
			<ul id="data_list_for_body">
				
			</ul>
		</div>
	</div>
	<!--存放拖入行区域的内容-->
	<div class="left_row_container">
		
	</div>
	
</div>