<!DOCTYPE html>
<html lang="en" scroll="no">
<head>
    <meta charset="UTF-8">
    <title>Pallasdata Desktop</title>
    {% load static %}
    <script src={%static "js/jquery.min.js"%} type="text/javascript" charset="utf-8"></script>
      <script src={%static "js/httpSafe.js"%} type="text/javascript" charset="utf-8"></script>
    <script src={%static "js/jquery-ui.min.js"%} type="text/javascript" charset="utf-8"></script>
    <script src={%static "js/jquery.combo.select.js"%} type="text/javascript" charset="utf-8"></script>
{#    <script src={% static "js/calculateRem.js" %} type="text/javascript" charset="utf-8"></script>#}
    <script src={% static "js/nav_base.js"%} type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href={%static "css/jquery-ui.min.css" %}/>
    <link rel="stylesheet" type="text/css" href={%static "css/combo.select.css" %}/>
    <link rel="stylesheet" href={% static "css/nav_base.css" %} />
    {% block css %}
    {% endblock %}
    {% block js %}
    {% endblock %}
</head>

<body scroll="no" style="overflow: hidden;">
	<div class="container">
		<div class="topInfo" id="baseTopInfo">
			<img  id="logo" src={% static "images/logo.png" %}/ >
			<div id="loginInfo">
					<div class="userHead child"></div>
					<span class="userName child">郭晓敏</span>
                <div class="child sepreate"></div>
				<img src={% static "images/nav_icon_06.png" %} class="message child"/>
				<img src={%static "images/nav_icon_08.png" %} alt="" class="question child" />
				<span class="changeUser child">切换账号</span>
				<img src={%static "images/X_11.png" %} class="close child"/>
			</div>
		</div>
		<div class="main">
			<div class="leftNav">
				<div class="ableFlag" id="first"><div class="active"></div><img src={% static "images/icon_nor_03.png" %} alt="" /></div>
				<div class="ableFlag"><div></div><img src={% static "images/icon_disable_06.png" %} alt="" /></div>
				<div class="ableFlag"><div></div><img src={% static "images/icon_disable_08.png" %} alt="" /></div>
				<div class="ableFlag"><div></div><img src={% static "images/icon_disable_10.png" %} alt="" /></div>
			</div>
			<div class="rightConent">
                {% block  content%}

                {% endblock %}    
          </div>
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="maskLayer" style="display: none;"> </div>
	 <div id="connectDataBaseInfo" style="display: none;">
    		<p id="dataBaseName"></p>
    		<span id="connectDataBaseInfo_close"></span>
    		<form action="/dataCollection/connectDataBaseHandle" method="post" id="dataBaseConnectForm">
    			{% csrf_token %}
			   <input name="dataBaseName" type="hidden" id="formPostDataBaseName"/>
    			<div class="locationDiv">
    				<label class="server">服务器: <input type="text" name="location"/></label>
    				<label class="port">端口:    <input type="text" name="port"/></label>
    			</div>
    			<div class="clear"></div>
    			<div class="userDiv">
    				<p>输入服务器登录信息:</p>
    				<label class="userName">用户名: <input type="text" name="dbuserName" /></label>
    				<label class="userPwd">密码: <input type="password" name="dbuserPwd" /></label>
    			</div>
    			
    			<div class="otherSetting">
    				<label><input type="checkbox" name="needSSL" id="needSSL" value="1" />需要SSL</label>
    				<a href="#">自定义配置文件<input type="file" style="opacity: 0;"/></a>
    			</div>
    			 <a id="loginBtn">登录</a>
    		</form>
    </div>
    
 <div id="filter-model">
    	
    <!--内容选择器-->
{#   	{% include "common/filter/filer-content-base.html" %}#}
    
    
    <!--数值筛选器--->
{#    {% include "common/filter/filter-number-base.html" %}#}

     <!--日期筛选器-->
{#     {% include "common/filter/filter-date-base.html" %}#}
   
   <!--筛选器模块结束-->
 </div>
    {% block other %}
    {% endblock %}
</body>
</html>