{% extends "common/nav_base.html" %}
{% load static %}
{% block css %}

	<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/plug-ins/28e7751dbec/integration/jqueryui/dataTables.jqueryui.css" />
	<link rel="stylesheet" href={% static "dashboard/css/dashboard.css" %}>
	
	
{% endblock %}
{% block js %}
 <script src={% static "dataCollection/js/judgeType.js"%} type="text/javascript" charset="utf-8"></script>

	<script src={% static "dashboard/js/jquery.dataTables.min.js"%} type="text/javascript" charset="utf-8"></script>
	<script src={% static "dashboard/js/dataTables_select.js"%} type="text/javascript" charset="utf-8"></script>
	<script src={% static "dashboard/js/echarts.min.js"%} type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" language="javascript" src="http://cdn.datatables.net/plug-ins/28e7751dbec/integration/jqueryui/dataTables.jqueryui.js"></script>
	<script src={% static "dashboard/js/table.js"%} type="text/javascript" charset="utf-8"></script>
	<script src={% static "dashboard/js/show_view.js"%} type="text/javascript" charset="utf-8"></script>
	<script src={% static "dashboard/js/dashboard.js"%} type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}
	<div id="dashboard_content">
		<!--新建图表-->
		<div id="new_view" class="clear">
			<ul class="clear">
				{% for item in table_name %}
				<li class="table_name"><span>{{item|cut:"("|cut:")"|cut:"',"|cut:"'"}}</span></li>
				{% endfor %}
			</ul>
		</div>
		
		<!--操作栏-->
		<div id="action_box" >
			<ul class="clear" id="action_box_ul">
				<!--上一页-->
				<li>
					<img src={% static "dashboard/img/3top-icon_03.png" %} alt="prev" title="撤销"/>
				</li>
				<!--下一页-->
				<li>
					<img src={% static "dashboard/img/3top-icon_05.png" %} alt="next" title="重做"/>
				</li>
				<!--保存-->
				<li>
					<img src={% static "dashboard/img/3top-icon_07.png" %} alt="save" title="保存"/>
				</li>
				<!--持续更新-->
				<li>
					<img src={% static "dashboard/img/3top-icon_09.png" %} alt="continuously" title="持续更新数据"/>
				</li>
				<!--updaet-->
				<li>
					<img src={% static "dashboard/img/3top-icon_11.png" %} alt="update" title="运行更新"/>
				</li>
				<!--新建图表-->
				<li>
					<img src={% static "dashboard/img/3top-icon_13.png" %} alt="newboard" title="新建视图"/>
				</li>
				<!--复制工作表-->
				<li>
					<img src={% static "dashboard/img/3top-icon_15.png" %} alt="copy_board" title="复制视图"/>
				</li>
				<!--删除工作表-->
				<li>
					<img src={% static "dashboard/img/3top-icon_17.png" %} alt="del_board" title="删除视图"/>
				</li>
				<!--更换队列-->
				<li>
					<img src={% static "dashboard/img/3top-icon_19.png" %} alt="queue" title="更换队列"/>
				</li>
				<!--升序排序-->
				<li>
					<img src={% static "dashboard/img/3top-icon_21.png" %} alt="ascending"  title="升序排序"/>
				</li>
				<!--降序排序-->
				<li>
					<img src={% static "dashboard/img/3top-icon_23.png" %} alt="descending" title="降序排序"/>
				</li>
				<!--单元格-->
				<li style="width: 36px;" id="cell_click">
					<img src={% static "dashboard/img/3top-icon_25.png" %} alt="cell" / title="单元格">
					<img src={% static "dashboard/img/cell_triangle.png" %} alt="cell_tra"  id="cell_tra"/>
					<div id="cell_wrap">
						<div class="cell_wrap_content"><p>增高</p></div>
						<div class="cell_wrap_content"><p>缩短</p></div>
						<div class="cell_wrap_content"><p>加宽</p></div>
						<div class="cell_wrap_content"><p>变窄</p></div>
						<div class="cell_wrap_content"><p>增大</p></div>
						<div class="cell_wrap_content"><p>缩小</p></div>
						<div class="cell_wrap_content"><p>方形单元格</p></div>
						<div class="cell_wrap_content"><p>文本单元格</p></div>
					</div>
					
				</li>
				<!--突出显示-->
				<li>
					<img src={% static "dashboard/img/3top-icon_27.png" %} alt="extrude" title="突出显示"/>
				</li>
				<!--区域链接-->
				<li>
					<img src={% static "dashboard/img/3top-icon_29.png" %} alt="Interregional " title="区域链接"/>
				</li>
				<!--标签-->
				<li>
					<img src={% static "dashboard/img/3top-icon_31.png" %} alt="label" title="标签"/>
				</li>
				<!--重置轴-->
				<li>
					<img src={% static "dashboard/img/3top-icon_33.png" %} alt="reset" title="重置轴"/>
				</li>
			</ul>
			<div id="buildBoard">
				<div id="build_show">
					<div id="buildBoard_content" class="clear">
						<p id="select_show">标准</p>
						<img src={% static "dashboard/img/select_tra.png" %}/>
				</div>
				</div>
				<div id="buildBoard_buildOpa">
					<div class="buildOpa_wrap"><p class="buildOpa">标准</p></div>
					<div class="buildOpa_wrap"><p class="buildOpa">适合宽度</p></div>
					<div class="buildOpa_wrap"><p class="buildOpa">适合高度</p></div>
					<div class="buildOpa_wrap"><p class="buildOpa">整个视图</p></div>
				</div>
			</div>
			
		</div>
		
		<!--侧边栏-->
		<div id="lateral_bar">
			<div id="lateral_title">
				<select class="custom-select">
				</select>
			</div>
			
			
			<!--维度-->
			<div id="dimensionality">
				<div id="dimensionality_title" class="clear">
					<p>维度</p>
					<!--维度操作-->
					<div class="dimensionality_hanble">
						<img src={% static "dashboard/img/select_tra.png" %} alt="操作目录" />
					</div>
					
					<!--搜索-->
					<div class="search">
						<img src={% static "dashboard/img/search.png" %} alt="搜索" />
					</div>
					
					<!--计算公式-->
					<div class="funcation">
						<img src={% static "dashboard/img/funcation.png" %} alt="计算公式" />
					</div>
				</div>
				<!--维度展示-->
				<div id="dimensionality_show">
					<ul>
						
					</ul>
				</div>
			</div>
			
			<!--度量-->
			<div id="measurement">
				<div id="measurement_title" class="clear">
					<p>度量</p>
					<!--度量操作-->
					<div class="dimensionality_hanble">
						<img src={% static "dashboard/img/select_tra.png" %} alt="操作目录" />
					</div>
					
					<!--搜索-->
					<div class="search">
						<img src={% static "dashboard/img/search.png" %} alt="搜索" />
					</div>
					
					<!--计算公式-->
					<div class="funcation">
						<img src={% static "dashboard/img/funcation.png" %} alt="计算公式" />
					</div>
				</div>
				
				<!--度量展示-->
				<div id="measure_show">
					<ul>
						
					</ul>
				</div>
			</div>
			
			<!--指标-->
			<div id="indicator" class="clear">
				<div id="indicator_title">
					<p>指标</p>
				</div>
				
				<!--指标展示-->
				<div id="index_show">
					<ul>
						
					</ul>
				</div>
			</div>
			<!--参数-->
			
			<div id="parameter">
				<div id="parameter_title">
					<p>参数</p>
				</div>
				<!--参数展示-->
				<div id="parameter_show">
					<ul>
						
					</ul>
				</div>
			</div>
		</div>
		
		
		<!--视图区域-->
		<div id="operational_view">
			<div id="drag_wrap_content">
					<!--行列拖拽区域-->
			<div id="drag_row" style="margin-left: 0;" class="drag_main">
				<div id="drap_row_title" class="drag_main_title">
					<div class="drap_row_title_content">
						<div id="row_icon" class="drag_main_title_icon">
						<img src={% static "dashboard/img/row.png" %}/>
						<span>行</span>
						</div>
						
						<!---->
						<div id="row_icon_tra" class="drag_main_icon_second">
							<img src={% static "dashboard/img/delete_small.png" %}/>
						</div>
					</div>
					<!--注释内容-->
					<div class="annotation_text drop_view droptrue" id="drop_row_view"><span class="drag_text">请拖入左边的字段</span></div>
				</div>
				
			</div>
			
			<!--行列拖拽区域-->
			<div id="drag_col" class="drag_main ">
				<div id="drap_row_title" class="drag_main_title">
					<div class="drap_row_title_content">
						<div id="row_icon" class="drag_main_title_icon">
						<img src={% static "dashboard/img/Column.png" %}/>
						<span>列</span>
						</div>
						
						<!---->
						<div id="col_icon_tra" class="drag_main_icon_second">
							<img src={% static "dashboard/img/delete_small.png" %}/>
						</div>
					</div>
				</div>
				<div class="annotation_text drop_view droptrue" id="drop_col_view"><span class="drag_text">请拖入左边的字段</span></div>
			</div>
			<!--行列拖拽区域-->
			<div id="drag_zb" class="drag_main ">
				<div id="drap_row_title" class="drag_main_title">
					<div class="drap_row_title_content">
						<div id="row_icon" class="drag_main_title_icon">
						<img src={% static "dashboard/img/index.png" %}/>
						<span>指标</span>
						</div>
						
						<!---->
						<div id="index_icon_tra" class="drag_main_icon_second">
							<img src={% static "dashboard/img/delete_small.png" %}/>
						</div>
					</div>
				</div>
				<div class="annotation_text" id="drop_zb_view"><span class="drag_text">请拖入左边的字段</span></div>
			</div>
			<!--行列拖拽区域-->
			<div id="drag_date" class="drag_main ">
				<div id="drap_row_title" class="drag_main_title">
					<div class="drap_row_title_content">
						<div id="row_icon" class="drag_main_title_icon">
						<img src={% static "dashboard/img/mark.png" %}/>
						<span>标记</span>
						</div>
						
						<!---->
						<div id="parameter_icon_tra" class="drag_main_icon_second">
							<img src={% static "dashboard/img/delete_small.png" %}/>
						</div>
					</div>
				</div>
				<!--颜色部分-->
				<div id="colorHandle" class="clear">
					<!--颜色操作-->
					<div id="handle_color" class="handle_one drop_view" >
						<span class="handle_bj">颜色</span>
						<img src={% static 'dashboard/img/color.png' %}/>
					</div>
					<!--详细信息-->
					<div id="information" class="handle_one drop_view" >
						<span  class="handle_bj">详细</span>
						<img src={% static "dashboard/img/details.png" %} alt="详细" />
					</div>
					
					<!--提示-->
					<div id="reminder" class="handle_one drop_view" >
						<span  class="handle_bj">提示</span>
						<img src={% static "dashboard/img/prompt.png" %} alt="提示" />
					</div>
				</div>
				
				
				<!--注释文字-->
				<div class="annotation_text drop_view droptrue " id="handle_color_text">
					<span class="drag_text">请拖入左边的字段</span>
					
					
				</div>
			</div>
			
			
			
			
			</div>
		</div>
		
		<!--视图展示区域-->
		<div id="view_show_area">
			<div id="view_show_area_content" class="drop_view">
			
			
				<!--提示框-->
				<div id="view_show_empty">
					当前图表无数据
				</div>
				
				<!--视图展示区域-->
				<div id="view_show_wrap">
					<!-- echarts图形展示 -->
					<div id="main" style="width: 100%;height: 100%;display: none"></div>
				</div>
			</div>	
		</div>
		
		
		<!--筛选器-->
		<div id="sizer">
			
			<div id="sizer_title">
				<div id="sizer_wrap">
				<img src={% static "dashboard/img/sxq.png" %} alt="sizer" />
				<!--line-->
				<div class="sizer_line"></div>
			</div>
			
			<div id="project">
				<img src={% static "dashboard/img/design.png" %} alt="project"/>
				<!--line-->
				<div class="sizer_line"></div>
			</div>
			</div>
			
			<!--筛选器内容区域-->
			<div id="sizer_place">
				<!--视图操作区域-->
				<!--设计图表-->
				<div id="project_chart">
					<div id="project_chart_title">
						<h5>图表</h5>
					</div>
					
					<!--视图icon-->
					<ul>
						
					</ul>
					
					<!--line-->
					<div id="project_show_line"></div>
				</div>
				
				
				
				<!--筛选器-->
				<div id="sizer_content">
					筛选器
				</div>
				
				<!--样式-->
				<div id="project_style">
					<ul>
						
					</ul>
				</div>				
				
				
				
				
				<!--提示-->
				<div id="sizer_mpt">
					<img src={% static "dashboard/img/sxq-sel-tis.png" %} alt="sizer_mpt" />
					<p>请选择左侧字段进行筛选</p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}