<div class="byFiledCondition-body">
	<div class="select-box">
		<div class="filedSelect-container">
			<select class="filedSelect custom-select">
				<option value="1">测试</option>
				<option value="2">门诊</option>
				<option value="3">安全</option>
				<option value="4">科室</option>
			</select>
		</div>

		<div class="boxTwo">
			<div class="calcuteFieldSelect-box toRowLine">
				<select class="calcuteFieldSelect custom-select">
					<option value="4">品均值</option>
				</select>
			</div>
			<div class="fieldperator-box toRowLine">
				<select class="fieldperator custom-select">
					<option value="=">=</option>
					<option value=">">&gt</option>
					<option value="<">&lt</option>
					<option value="<=">&lt=</option>
					<option value="<=">&gt=</option>
				</select>
			</div>
			<div class="numberInput-box toRowLine">
				<input type="text" placeholder="请输入数值" class="numberInput" />
			</div>
		</div>

	</div>
	<div class="range-box">
		<p class="range-title">值范围</p>
		<div class="range-content">
			<label>最大值<input type="text" /></label>
			<label>最小值<input type="text" /></label>
		</div>
	</div>
</div>