<div class="clone-origial">
	<div class="boxOne">
		<div class="boxOne-float needSize">
			<select class="custom-select">
				<option value="1">顶部</option>
				<option value="2">底部</option>
			</select>
		</div>
		<input type="text" class="boxOne-float needSize valueInput" />
		<span class="boxOne-float indictorText">依据</span>
	</div>
	<div class="boxTwo">
		<div class="filed-name-box boxTwo-float">
			<select class="custom-select">
				<option value="1">字段名</option>
			</select>
		</div>
		<div class="calculate-style-box boxTwo-float">
			<select class="custom-select">
				<option value="1">总计</option>
			</select>
		</div>
	</div>
</div>