{% load static %}
<div id="contentChooser" style="z-index: 1000;">
	<div class="topline"></div>
	<div class="contentChooser_head common-head">
		<span class="logo">筛选器</span>
		<span class="flag"></span>
		<div class="close">
			<img src={% static "images/contentFilter/X_33.png" %} alt="" title="关闭" />
		</div>

	</div>
	<div class="contentChooser_body common-fold-module">
		<ul class="btns">
			<li>
				<a href="#common">常规</a>
			</li>
			<li>
				<a href="#wildcards">通配符</a>
			</li>
			<li>
				<a href="#condition">条件</a>
			</li>
			<li>
				<a href="#headpiece">顶部</a>
			</li>
		</ul>
		<div id="common">
			<div class="commonSearchDiv">
				<div class="outer">
					<input type="text" placeholder="请输入关键字" />
					<img src={% static "images/contentFilter/search.png" %} />
				</div>
			</div>
			<div class="detailSearchData">
				<ul class="dataList">

				</ul>
				<div class="handleBtns">
					<label for="selectAllInCommon" class="all"><input type="checkbox" id="selectAllInCommon"/>全选</label>
					<label for="cancleSelectedInCommmon" class="not"><input type="checkbox" id="cancleSelectedInCommmon"/>剔除</label>
				</div>
				<div class="clear"></div>
			</div>

			<!--摘要-->
			<div class="summaryPanel">
				<p>摘要</p>
				<ul>
					<li>字段:<span></span></li>
					<li>所选内容:<span></span></li>
					<li>通配符:
						<a href="javascript:void(0)">全部</a>
					</li>
					<li>条件:
						<a href="javascript:void(0)">全部</a>
					</li>
					<li>限制:
						<a href="javascript:void(0)">全部</a>
					</li>
				</ul>

			</div>

		</div>
		<div id="wildcards">
			<p class="wildcardLogo">匹配值:</p>
			<div class="matchContentInput"><input type="text" placeholder="请输入关键字" /></div>
			<div class="radioSelectBtns">
				<p class="active radio">包含</p><br/>
				<p class="radio">开头为</p><br/>
				<p class="radio">结尾为</p><br/>
				<p class="radio">精确匹配</p>
			</div>
			<div class="handleBtns">
				<label class="emptyCotainAll"><input type="checkbox"/>为空时包括所有值</label>
				<label class="delete"><input type="checkbox"/>剔除</label>
			</div>
		</div>
		<div id="condition">
			<p class="radio active" belong="condition">无</p>
			<div class="byFiledConditionSelectDiv">
				<div class="topTitle">
					<p class="radio" belong="condition">按字段</p>
					<img src={%static "dataCollection/images/add.png" %} alt="" class="add" />
				</div>
				<div class="scrollBody-box">
					{% include "common/filter/content-term-scroll.html"%}
				</div>
			</div>

			<div class="byFiledCondition-footer">
				<p class="radio" belong="condition">按公式</p>
				<textarea name="" rows="" cols=""></textarea>
			</div>

		</div>

		<div id="headpiece">
			<p class="radio active" belong="headpiece">无</p>
			<div class="headpiece-body">
				<div class="headpiece-body-filed-title">
					<p class="radio" belong="headpiece">按字段</p>
					<img src={%static "dataCollection/images/add.png" %} alt="" class="add" />
				</div>
				<div class="headpiece-scroll-box">
					{% include 'common/filter/content-top-scroll.html' %}
				</div>
			</div>

			<div class="headpiece-footer">
				<p class="radio" belong="headpiece">按公式</p>
				<div class="footer-select-div">
					<div class="footer-select-div-float needSize">
						<select class="custom-select">
							<option value="1">顶部</option>
							<option value="2">底部</option>
						</select>
					</div>
					<input type="text" class="footer-select-div-float needSize valueInput" />
					<span class="footer-select-div-float indictorText">依据</span>
				</div>
				<textarea class="formulasInput"></textarea>
			</div>

		</div>
	</div>
	<div class="common-filer-footer">
		<a href="javascript:void(0)" class="resetBtn">重置</a>
		<a href="javascript:void(0)" class="cancleBtn">取消</a>
		<a href="javascript:void(0)" class="confirmBtn">确定</a>

	</div>
</div>